<h1>Create a New Event</h1>

<div class="row">
  <div  class="col-md-offset-2 col-md-8 events">
    <form>
      <fieldset class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </fieldset>
      <fieldset class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </fieldset>
      <button ng-click = "create()" type="button" class="btn btn-primary">Create Event!</button>

    </form>
  </div>

</div>
